h2{
    font-family: cursive; background-color:bisque;
}
p{
    font-family: cursive; background-color: rgb(215, 250, 245);
}
ul,ol{ font-family:Verdana, Geneva, Tahoma, sans-serif; background-color: cadetblue }
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: aliceblue;}
html{background-color: black;}